<!-- Facebook JavaScript -->
<div id="fb-root"></div>

<!-- Main menu page -->
<div data-role="page" id="login">
  <form class="form">
    <div class="form-group">
      Get the facebook insight data of last <input type="text" value="5" id="offset"/> days data
    </div>
    <div class="form-group">
      <button class="btn" id="btnFetch">Fetch from facebook</button>
    </div>
  </form>
  <div id="json"></div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  alert('hey');
  $('#btnFetch').click(function (e) {
    e.preventDefault();
    const offset = $('#offset').val();
    $.ajax(`/api/insight?offset=${offset}`)
      .done(data => {
        $("#json").JSONView(data);
      });
  });
});
</script>
</body>
