<!-- Facebook JavaScript -->
<div id="fb-root"></div>


<!-- Main menu page -->
<div data-role="page" id="menu" class="type-menu">
    <div data-role="header">
        <div class="ui-bar ui-bar-a">

            <span class="topnav-app">Facebook Page Insights</span>

            <span id="user-identity"></span>
        </div>
    </div><!-- /header -->
    <div class="submit-button">
        <a id="update_insights" href="#" data-role="button">Update Insights</a>
    </div>
    <div id="table1"></div>
    <div id="page_views" style="width: 45%; height: 300px;display: inline-block;"></div>
    <div id="page_likes" style="width: 45%; height: 300px;display: inline-block;"></div>
    <div id="reach" style="width: 45%; height: 300px;display: inline-block;"></div>
    <div id="post_engagements" style="width: 45%; height: 300px;display: inline-block;"></div>
    <div id="videos" style="width: 45%; height: 300px;display: inline-block;"></div>
</div>
