<!-- Facebook JavaScript -->
<div id="fb-root"></div>
<!-- Login page -->
<div data-role="page" id="login" class="type-home">
    <div data-role="content">
        <div id="login-intro">
            <p class="intro">To get started, login using Facebook</p>
        </div>
    </div>
    <div class="login-button">
        <a href="{{ loginUrl }}"><img src="/images/fblogin.png"></img></a>
    </div>
</div>
